<!DOCTYPE html>
<html lang="en">
<%- include('../partial/head') %>

<body>
    <div id="wrapper">
        <%- include('../partial/header') %>
        <%- include('../partial/navigation') %>

        <main>
            <%- body %>
        </main>

        <%- include('../partial/footer') %>
    </div>
</body>
</html>